<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>anime quote generator maybee</title>
    <link rel="stylesheet" href="/statico/styles.css">
    <style>

    </style>
</head>
<body>
    
    <div class="all">
        <h2>anime quote:</h2>
        <p class="secondary"><%= quote %></q>
        <p class="secondary"><%= name %></p>
        <p>anime:<%= anime %></p>
        <img src=<%= image %> alt="bg image" id="bgi">   
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/statico/work.js"></script>
    <script>bgi()</script>
</body>
</html>