<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>static</title>
    <link rel="stylesheet" href="/statico/styles.css">
</head>
<body>
    
    <div class="all">
       <p><%= content %></p>
        <img src=<%= image %> alt="bg image" id="bgi"> 
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/statico/work.js"></script>
    <script>bgi()</script>
</body>
</html>